body main h1 {
  text-align: center;
}

body main h2 {
  text-align: center;
  color: green;
}

body main h3 {
    text-align: center;
    color: green;
    size: 20cm;
}

body main .cinnamon {
  box-shadow: 3px 3px 3px black;
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body main .container .description {
  text-align: left;
  width: 90%;
  font-size: 100%;
  color: green;
}
