body main h1 {
  text-align: center;
}

body main h2 {
  text-align: center;
  color: green;
}

body main .container .cinnamon {
  width: 40%;
  position: fixed;
  box-shadow: 3px 3px 3px black;
}

body main .container .description {
  text-align: center;
  font-size: 100%;
  color: rgb(0, 196, 0);
}
